<div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            <p>{{ post.author.first_name}} {{ post.author.last_name }}</p>
          </div>
          <div class="h3 text-muted">
            <p>@{{ post.author.username }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Подписчиков: XXX <br>
              Подписан: XXX
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Записей: {{ post.author.posts_relate.count }}
            </div>
          </li>
        {% if request.user != post.author %}
          <li class="list-group-item">
            {% if following %}
              <a
               class="btn btn-lg btn-light"
               href="{% url 'profile_unfollow' post.author.username %}" role="button">
               Отписаться от юзера: {{post.author.username}}
              </a>
            {% else %}
               <a
                class="btn btn-lg btn-primary"
                href="{% url 'profile_follow' post.pk %}" role="button">
                Подписаться на юзера: {{post.author.username}}
               </a>
            {% endif %}
        {% endif %}
  </li>
        </ul>
      </div>
    </div>